<tr id="<%= dom_id course %>">
  <td>
    <%= course.title %>
  </td>

  <td>
    <%= course.duration %> de hora
  </td>

  <td>
    <%= course.price %> $
  </td>

  <td>
    <%= course.description %>
  </td>

  <td> 
    <%= link_to "show", course %> 
  </td>
</tr >
